<script setup lang="ts">
import AgeStats from "../components/AgeStats.vue";
import {onMounted, ref } from "vue";
import {employeeRepository} from "@/repositories/EmployeeRepository";
import type {EmployeeAgeStatsResponse} from "@/models/Employee";

const ageStats = ref<EmployeeAgeStatsResponse>({
  femaleStats: [],
  maleStats: [],
  totalStats: [],
})

onMounted(async () => {
  const result = await employeeRepository().loadAgeStats(5)
  ageStats.value = result.data
})

</script>
<template>
  <!-- Begin Page Content -->
  <div class="container-fluid">
    <!-- Page Heading -->
    <div class="d-sm-flex align-items-center justify-content-between mb-4">
      <h1 class="h3 mb-0 text-gray-800">Dashboard</h1>
    </div>

    <!-- Content Row -->

    <div class="row">

      <!-- Area Chart -->
      <div class="col-xl-12">
        <div class="card shadow mb-4">
          <!-- Card Header - Dropdown -->
          <div
              class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
            <h6 class="m-0 font-weight-bold text-primary">Age list</h6>
          </div>
          <!-- Card Body -->
          <div class="card-body">
            <AgeStats :data="ageStats"/>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<style scoped>

</style>
