<script setup lang="ts">
import EmployeesList from "@/components/EmployeesList.vue";
import {employeeRepository} from "@/repositories/EmployeeRepository";
import {onMounted, ref } from "vue";
import type {Employee, EmployeeUpdateRequest} from "@/models/Employee";

const employees = ref<Employee[]>([])

onMounted(async () => {
  const result = await employeeRepository().loadEmployeeList()
  employees.value = result.data.employees
})

const removeEmployee = async (id: string) => {
  await employeeRepository().removeEmployee(id)
  employees.value = employees.value.filter(employee => employee.id !== id)
}

const editEmployee = async (id: string, employee: EmployeeUpdateRequest) => {
  await employeeRepository().editEmployee(id, employee).then(() => {
    employees.value = employees.value.map(loadedEmployee => {
      if (loadedEmployee.id === id) {
        return {
          id: id,
          name: employee.name,
          age: employee.age,
          sex: employee.sex,
        }
      }

      return loadedEmployee
    })
  })
}

const addEmployee = async (employee: EmployeeUpdateRequest) => {
  await employeeRepository().addEmployee(employee).then((result) => {
    employees.value = [{
      id: result.data.id,
      name: employee.name,
      age: employee.age,
      sex: employee.sex,
    }, ...employees.value]
  }).catch((error) => {
    console.log(error)
  })
}
</script>
<template>
  <!-- Begin Page Content -->
  <div class="container-fluid">
    <!-- Page Heading -->
    <div class="d-sm-flex align-items-center justify-content-between mb-4">
      <h1 class="h3 mb-0 text-gray-800">Employees</h1>
    </div>

    <!-- Content Row -->

    <div class="row">

      <!-- Area Chart -->
      <div class="col-xl-12">
        <div class="card shadow mb-4">
          <!-- Card Header - Dropdown -->
          <div
              class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
              <h6 class="m-0 font-weight-bold text-primary">Employees list</h6>
          </div>
          <!-- Card Body -->
          <div class="card-body">
            <EmployeesList :data="employees" @onEmployeeRemove="removeEmployee" @onEmployeeEdit="editEmployee" @onEmployeeAdd="addEmployee" />
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<style scoped>

</style>
