<script setup lang="ts">
import {Bar} from 'vue-chartjs';
import {Chart as ChartJS, Title, Tooltip, Legend, BarElement, CategoryScale, LinearScale} from 'chart.js';
import {computed, ref} from "vue";
import type {EmployeeAgeStatsResponse, GroupedEmployeesAgeStat} from "@/models/Employee";

ChartJS.register(Title, Tooltip, Legend, BarElement, CategoryScale, LinearScale);

interface Props {
  data: EmployeeAgeStatsResponse,
}
const props = defineProps<Props>()

const isChartHovered = ref(false);
const chartData = computed(() => {
  return {
    labels: props.data.maleStats.map((item: GroupedEmployeesAgeStat) => item.ageInterval + ' yo'),
    datasets: [
        {
          label: 'Male employees',
          data: props.data.maleStats.map((item: GroupedEmployeesAgeStat) => item.frequency),
          backgroundColor: [
            'rgb(95,194,236)',
          ],
          hoverBackgroundColor: [
            'rgba(95,194,236,0.8)',
          ],
          borderRadius: 5,
        },
        {
          label: 'Female employees',
          data: props.data.femaleStats.map((item: GroupedEmployeesAgeStat) => item.frequency),
          backgroundColor: [
            '#EC775FFF',
          ],
          hoverBackgroundColor: [
            'rgba(236,119,95,0.8)',
          ],
          borderRadius: 5,
        },
        {
          label: 'Total employees',
          data: props.data.totalStats.map((item: GroupedEmployeesAgeStat) => item.frequency),
          backgroundColor: [
            'rgba(152,152,152,0.4)',
          ],
          hoverBackgroundColor: [
            'rgba(152,152,152,0.3)',
          ],
          borderRadius: 5,
        }
      ],
  };
});
</script>

<template>
  <div class="pt-14 pb-4">
    <p class="lead">Shows statistics of employees separated into age groups</p>
    <Bar
        chart-id="bar-chart"
        dataset-id-key="label"
        :data="chartData"
        :styles="{cursor: (isChartHovered ? 'pointer': 'default')}"
    />
  </div>
</template>

<style scoped>

</style>
