<script setup lang="ts">
import {ref} from "vue";
import type {Employee, EmployeeUpdateRequest} from "@/models/Employee";
import {Sex} from "@/models/Sex";

interface Props {
  data: Employee[]
}

const props = defineProps<Props>()
const deletedEmployeeId = ref<string|null>(null)
const editedEmployeeId = ref<string|null>(null)
const showNewEmployeeForm = ref<boolean>(false)
const emit = defineEmits(['onEmployeeRemove', 'onEmployeeEdit', 'onEmployeeAdd'])
const defaultEmployeeData: EmployeeUpdateRequest = {
  name: '',
  age: 18,
  sex: Sex.male
};
const employeeFormData = ref<EmployeeUpdateRequest>(defaultEmployeeData)

const removeEmployee = (id: string) => {
  deletedEmployeeId.value = id
  emit('onEmployeeRemove', id)
}

const editEmployee = (employee: Employee) => {
  editedEmployeeId.value = employee.id
  showNewEmployeeForm.value = false
  employeeFormData.value = {
    name: employee.name,
    age: employee.age,
    sex: employee.sex
  }
}

const addEmployee = () => {
  showNewEmployeeForm.value = true
  editedEmployeeId.value = null
  employeeFormData.value = defaultEmployeeData
}

const submitEditForm = (id: string, employeeUpdateRequest: EmployeeUpdateRequest) => {
  console.log(employeeUpdateRequest)
  editedEmployeeId.value = null
  emit('onEmployeeEdit', id, employeeUpdateRequest)
}

const submitAddForm = (employeeUpdateRequest: EmployeeUpdateRequest) => {
  showNewEmployeeForm.value = false
  employeeFormData.value = defaultEmployeeData
  emit('onEmployeeAdd', employeeUpdateRequest)
}
</script>

<template>
  <div class="pt-14 pb-4">
    <table class="table">
      <thead>
      <tr>
        <th scope="col">Name</th>
        <th scope="col">Age</th>
        <th scope="col">Sex</th>
        <th scope="col"><button @click="addEmployee" class="btn btn-success btn-icon-split btn-sm"><faicon icon="fa-plus" /><span class="text">Add</span></button></th>
      </tr>
      </thead>
      <tbody>
        <tr v-if="showNewEmployeeForm">
          <td><input type="text" id="name" v-model="employeeFormData.name" /></td>
          <td><input type="number" id="age" v-model="employeeFormData.age" /></td>
          <td>
            <div class="form-check form-check-inline">
              <input class="form-check-input" type="radio" id="sex-male" name="sex" value="male" v-model="employeeFormData.sex" />
              <label class="form-check-label" for="sex-male"> Male</label>
            </div>
            <div class="form-check form-check-inline">
              <input class="form-check-input" type="radio" id="sex-female" name="sex" value="female" v-model="employeeFormData.sex" />
              <label class="form-check-label" for="sex-female"> Female</label>
            </div>
          </td>
          <td>
            <button @click="submitAddForm(employeeFormData)" class="btn btn-success btn-circle btn-sm"><faicon icon="fa-check" /></button>
          </td>
        </tr>
        <tr v-for="(row) in props.data" :class="{'table-danger': (row.id === deletedEmployeeId)}">
          <td v-if="editedEmployeeId !== row.id">{{ row.name }}</td><td v-else><input type="text" id="name" v-model="employeeFormData.name" /></td>
          <td v-if="editedEmployeeId !== row.id">{{ row.age }}</td><td v-else><input type="number" id="age" v-model="employeeFormData.age" /></td>
          <td v-if="editedEmployeeId !== row.id">{{ row.sex }}</td><td v-else>
            <div class="form-check form-check-inline">
              <input class="form-check-input" type="radio" id="sex-male" name="sex" value="male" v-model="employeeFormData.sex" />
              <label class="form-check-label" for="sex-male"> Male</label>
            </div>
            <div class="form-check form-check-inline">
              <input class="form-check-input" type="radio" id="sex-female" name="sex" value="female" v-model="employeeFormData.sex" />
              <label class="form-check-label" for="sex-female"> Female</label>
            </div>
          </td>
          <td v-if="editedEmployeeId !== row.id">
            <button @click="editEmployee(row)" class="btn btn-warning btn-circle btn-sm"><faicon icon="fa-pencil-alt" /></button>
            <button @click="removeEmployee(row.id)" class="btn btn-danger btn-circle btn-sm"><faicon icon="fa-trash-alt" /></button>
          </td>
          <td v-else>
            <button @click="submitEditForm(row.id, employeeFormData)" class="btn btn-success btn-circle btn-sm"><faicon icon="fa-check" /></button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</template>

<style scoped>

</style>
