<template>
<div>
  <!-- Sidebar -->
  <ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">
    <!-- Sidebar - Brand -->
    <router-link to="/" class="sidebar-brand d-flex align-items-center justify-content-center">
      <div class="sidebar-brand-text mx-3">Employee manager</div>
    </router-link>

    <!-- Divider -->
    <hr class="sidebar-divider my-0">

    <!-- Nav Item - Dashboard -->
    <li class="nav-item">
      <router-link to="/" class="nav-link">
        <faicon icon="fa-tachometer-alt" class="fas fa-fw "/>
        <span> Dashboard</span>
      </router-link>
    </li>

    <!-- Heading -->

    <!-- Nav Item - Pages Collapse Menu -->
    <li class="nav-item">
      <router-link to="/employees" class="nav-link">
        <faicon icon="fa-users" class="fas fa-fw "/>
        <span> Employees</span>
      </router-link>
    </li>
  </ul>
  <!-- End of Sidebar -->
</div>
</template>

<style scoped>

</style>
